.is-family-primary {
    font-family: "Lequire DEMO";
  }
  
  .is-family-secondary {
    font-family: "Lequire DEMO";
  }
  
  .is-family-sans-serif {
    font-family: "Lequire DEMO";
  }

  .navbar-link{
    color:white;
  }

  .navbar-item{
    color: black;
  }
  
  
  
  html {
    background-color: #83D7E6;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
       -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
            text-size-adjust: 100%;
  }
  
  .navbar-item img {
      max-height: 5rem;
  }
  
  .box {
    background-color: #83D7E6;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
  }
.eventStyle{
  background-color:#363636;
  padding: 10% 5%;
  border: black solid .10rem;
  border-radius: 40%;
  align-content: center;
  font-size: small;
  color: white;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

.artistStyle{
  background-image: url("../images/artistBack1.jpg");
  padding-right: 2% 0;
  padding-left: 1% 0;
  border: black solid .05rem;
  align-content: center;
  font-size: small;
  flex-wrap: nowrap;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large;
  color: rgb(0, 0, 0);
  border-radius: 20%;
  text-align: center;
  
}

.artist{
  text-align: center;
  font-size: xx-large;

}

.event{
  text-align: center;
  font-size: xx-large;
}

.btn{
  color: black;
  background-color:#363636;
  border: black solid .15rem;
}

.btn :hover{
  color:red;
  background-color:#363636;
  box-shadow: red;
  padding: 1%;
  font-size: xx-large;

  #map {
    margin: auto;
    height: 495px;
    width: auto;
}
